[Unit]
Description=Run CopiMine world backup every hour

[Timer]
OnBootSec=10min
OnUnitActiveSec=1h
Persistent=true
AccuracySec=1min
Unit=copimine-world-backup.service

[Install]
WantedBy=timers.target
